@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");
* {
  font-family: "Orbitron", sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: red;
}
.content {
  min-width: 580px;
}
.title {
  font-size: 24px;
}
.counter {
  display: flex;
}
.counter__item {
  padding-right: 10px;
  font-size: 64px;
}
.location {
}
.CTA {
  margin-top: 50px;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  cursor: pointer;
  transition: 0.6s;
}
.CTA:hover {
  background-color: red;
  color: black;
  font-weight: bold;
}
.CTA--SEND {
  width: 100%;
  background-color: black;
  color: red;
}
.form {
  width: 100%;
  /* background-color: rgb(43, 43, 43); */
}
.inputElement {
  border: 1px solid red;
  padding: 10px;
  margin-top: 5px;
}
.input {
  font-size: 16px;
  padding: 5px;
  width: 91%;
  margin: 0 auto;
  color: red;
  background-color: black;
  border: none;
  outline: none;
}
.modal {
  margin-top: 50px;
}
